In [3]:
import pandas as pd
import numpy as np

In [4]:
np.arange(0,20).reshape(5,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [5]:
df=pd.DataFrame(data=np.arange(0,20).reshape(5,4),index=["Row1","Row2","Row3","Row4","Row5"],columns=["Column1","Column2","Column3","Column4"])

In [6]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [8]:
df.describe()

         Column1    Column2    Column3    Column4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [ ]:
##Indexing
##columnname,rowindex[Loc],rowindex,columnindex number[.iloc]

In [15]:
df[['Column3','Column2']]

      Column3  Column2
Row1        2        1
Row2        6        5
Row3       10        9
Row4       14       13
Row5       18       17

In [16]:
##string data ko file formate me create karta hai
from io import StringIO

In [17]:
data=('col1,col2,col3\n'
     'x,y,1\n'
     'a,b,2\n'
     'c,d,3\n')

In [18]:
type(data)

str

In [19]:
##in memory file formate object
StringIO(data)

In [26]:
##read_csv ko file formated data chahiye hota hai
df=pd.read_csv(StringIO(data))
df

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [25]:
df.to_csv('test_data')